stages:
  - fetch-scripts
  - quality
  - build
  - test
  - pack
  - deploy
  - analyze

include:
  - project: 'devel/ciscripts'
    file: '.fetch-job.yml'
  - project: 'devel/ciscripts'
    file: .shared-vars.yml
  - 'ci/.gitlab-ci-0-quality-gate.yml'
  - 'ci/.gitlab-ci-1-build.yml'
  - 'ci/.gitlab-ci-2-test.yml'
  - 'ci/.gitlab-ci-3-pack.yml'
  - 'ci/.gitlab-ci-4-deploy.yml'
  - 'ci/.gitlab-ci-5-analyze.yml'
  - template: Security/Secret-Detection.gitlab-ci.yml

variables:
  extends: .shared-variables
  GAMS_CONTAINER_REGISTRY:
      value: registry.gams.com/devel
      description: "URL to the GAMS container registry"
  PF_CUSTOM_BRANCH:
      value: 0
      description: "Name of custom branch, or X.Y.Z for published distribution, or 0 if version is specified in text file with lines GAMS_DISTRIB_MAJOR=X, GAMS_DISTRIB_MINOR=Y, GAMS_DISTRIB_GOLD=Z"
  QT_IMAGE_VERSION:
      value: qt6.10.1
      description: "Current Qt image version"
  QT_VERSION:
    value: 6.10.1
    description: "Current Qt version"
