deploy-cloudfront:
  stage: deploy
  tags: [linux]
  image:
    name: $GAMS_CONTAINER_REGISTRY/qt-machines/deployer:latest
    entrypoint: [""]   # prevent startup.sh
  dependencies: [pack-deg, pack-dac, pack-leg, pack-wei]
  rules:
    - if: $CI_COMMIT_TAG =~ /v\d+\.\d+\.\d+.*/
  script:
    - mkdir artifacts
    - mv *.AppImage *.dmg *.zip artifacts
    - chmod +x ci/cloudfront-deploy.sh
    - TAG_NAME=$CI_COMMIT_TAG ./ci/cloudfront-deploy.sh

deploy-github:
  stage: deploy
  tags: [linux]
  image:
    name: $GAMS_CONTAINER_REGISTRY/qt-machines/deployer:latest
    entrypoint: [""]   # prevent startup.sh
  dependencies: [pack-deg, pack-dac, pack-leg, pack-wei]
  rules:
    - if: $CI_COMMIT_TAG =~ /v\d+\.\d+\.\d+.*/
  script:
    - PATH="/opt/github-release:${PATH}"
    - mkdir artifacts
    - mv *.AppImage *.dmg *.zip artifacts
    - chmod +x ci/github-deploy.sh
    - TAG_NAME=$CI_COMMIT_TAG GITHUB_TOKEN=${GITHUB_TOKEN} ./ci/github-deploy.sh

deploy-qt:
  stage: deploy
  tags: [linux]
  image:
    name: $GAMS_CONTAINER_REGISTRY/qt-machines/deployer:latest
    entrypoint: [""]   # prevent startup.sh
  script:
    - chmod +x ci/qt-deploy.sh
    - ./ci/qt-deploy.sh
