build-deg:
  stage: build
  tags: [macos]
  needs: [fetch-ci-scripts, quality-gate]
  variables:
    qtpath: /opt/Qt/${QT_VERSION}/bin
  script:
    - !reference [.get-gams]
    - !reference [.gams-folder-deg]
    - printf "GAMS_DISTRIB=$HOME/cache/gams-installs/`cat gams_folder_deg.txt`\n" > gamsinclude.pri
    - printf "GAMS_DISTRIB_C_API=\$\$GAMS_DISTRIB/apifiles/C/api\n" >> gamsinclude.pri
    - printf "GAMS_DISTRIB_CPP_API=\$\$GAMS_DISTRIB/apifiles/C++/api\n" >> gamsinclude.pri
    - mkdir build && cd build
    - PATH="${qtpath}:${PATH}"
    - qmake ../gams-studio.pro CONFIG+=release && make -j4
  artifacts:
    name: studio-deg
    expire_in: 2 hours
    paths: [build/*]

build-dac:
  stage: build
  tags: [macos-arm64]
  needs: [fetch-ci-scripts, quality-gate]
  variables:
    qtpath: /opt/Qt/${QT_VERSION}/bin
  script:
    - !reference [.get-gams]
    - !reference [.gams-folder-dac]
    - printf "GAMS_DISTRIB=$HOME/cache/gams-installs/`cat gams_folder_dac.txt`\n" > gamsinclude.pri
    - printf "GAMS_DISTRIB_C_API=\$\$GAMS_DISTRIB/apifiles/C/api\n" >> gamsinclude.pri
    - printf "GAMS_DISTRIB_CPP_API=\$\$GAMS_DISTRIB/apifiles/C++/api\n" >> gamsinclude.pri
    - mkdir build && cd build
    - PATH="${qtpath}:${PATH}"
    - qmake ../gams-studio.pro CONFIG+=release && make -j4
  artifacts:
    name: studio-dac
    expire_in: 2 hours
    paths: [build/*]

build-leg:
  stage: build
  tags: [linux]
  needs: [fetch-ci-scripts, quality-gate]
  image:
    name: $GAMS_CONTAINER_REGISTRY/qt-machines/leg/builder-${QT_IMAGE_VERSION}:latest
    entrypoint: [""]   # prevent startup.sh
  variables:
    DOLLAR_GAMS: $$$$GAMS_DISTRIB
  script:
    - !reference [.get-gams]
    - !reference [.gams-folder-leg]
    - echo "GAMS_DISTRIB=/cache/gams-installs/`cat gams_folder_leg.txt`" > gamsinclude.pri
    - echo "GAMS_DISTRIB_C_API=$DOLLAR_GAMS/apifiles/C/api" >> gamsinclude.pri
    - echo "GAMS_DISTRIB_CPP_API=$DOLLAR_GAMS/apifiles/C++/api" >> gamsinclude.pri
    - mkdir build && cd build
    - qmake ../gams-studio.pro CONFIG+=release && make -j4
  artifacts:
    name: studio-leg
    expire_in: 2 hours
    paths: [build/*]

build-wei:
  stage: build
  tags: [windows]
  needs: [fetch-ci-scripts, quality-gate]
  variables:
     cmd_vcvars: C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat
  image:
    name: $GAMS_CONTAINER_REGISTRY/qt-machines/wei/builder-${QT_IMAGE_VERSION}:latest
    entrypoint: [""]
  script:
    - $env:Path = "C:\Miniconda\Library\bin;C:\Miniconda\DLLs;" + $env:Path
    - $env:Path = "C:\Qt\Tools\icu\bin64;" + $env:PATH
    - !reference [.get-gams-wei]
    - !reference [.gams-folder-wei]
    - '& $cmd_vcvars'
    - $data = 
      "GAMS_DISTRIB=C:/Cache/gams-installs/$(Get-Content mygmsdir.tmp -Raw)",
      'GAMS_DISTRIB_C_API=$$GAMS_DISTRIB/apifiles/C/api',
      'GAMS_DISTRIB_CPP_API=$$GAMS_DISTRIB/apifiles/C++/api'
    - $data | out-file -encoding ascii gamsinclude.pri
    - mkdir build
    - cd build
    - $env:PATH="C:\Qt\Tools\icu\bin64;$env:PATH"; & { qmake.exe ..\gams-studio.pro "CONFIG+=release" }
    - nmake.exe
  artifacts:
    name: studio-wei
    expire_in: 2 hours
    paths: [build/*]
