codechecker-leg:
  stage: analyze
  tags: [linux]
  needs: [fetch-ci-scripts]
  image:
    name: $GAMS_CONTAINER_REGISTRY/qt-machines/leg/analyzer:latest
    entrypoint: [""]   # prevent startup.sh
  allow_failure: false
  variables:
    DOLLAR_GAMS: $$$$GAMS_DISTRIB
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $PF_WEI_DEBUG == "0"
      when: always
    - when: never
  script:
    - !reference [.get-gams]
    - !reference [.gams-folder-leg]
    - echo "GAMS_DISTRIB=/cache/gams-installs/`cat gams_folder_leg.txt`" > gamsinclude.pri
    - echo "GAMS_DISTRIB_C_API=$DOLLAR_GAMS/apifiles/C/api" >> gamsinclude.pri
    - echo "GAMS_DISTRIB_CPP_API=$DOLLAR_GAMS/apifiles/C++/api" >> gamsinclude.pri
    - bash ci/codechecker.sh
  after_script:
    - cat gl-code-quality-report.json
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths: [gl-code-quality-report.json]
    expire_in: '2 mos'

license-update-leg:
  stage: analyze
  tags: [linux]
  needs: []
  image:
    name: $GAMS_CONTAINER_REGISTRY/qt-machines/deployer:latest
    entrypoint: [""]   # prevent startup.sh
  allow_failure: false
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $PF_WEI_DEBUG == "0"
      when: always
    - when: never
  script:
    - chmod +x ci/license-update.sh
    - ./ci/license-update.sh
