<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleAllowMixedLocalizations</key>
        <true/>
	<key>CFBundleExecutable</key>
	<string>studio</string>
	<key>CFBundleName</key>
	<string>GAMS Studio</string>
	<key>CFBundleIconFile</key>
	<string>studio.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.gams.studio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
