<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>GAMS Modeling System</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>gms</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>studio.icns</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false />
                <key>NSPersistentStoreTypeKey</key>
                <string>Binary</string>
            </dict>
        </array>
        <key>CFBundleExecutable</key>
        <string>studio</string>
        <key>CFBundleName</key>
        <string>Studio</string>
        <key>CFBundleDisplayName</key>
        <string>Studio</string>
        <key>CFBundleGetInfoString</key>
        <string>Created by GAMS</string>
        <key>CFBundleIconFile</key>
        <string>studio.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.gams.studio</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
</dict>
</plist>
